<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarCollapse">
    <a class="navbar-brand" routerLink="">MyShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline" action="/Product/Search" method="post">
      <input class="form-control mr-sm-2" type="text" name="keywords" placeholder="Search" aria-label="Search" [(ngModel)]="keywords">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/search" (click)="setData()">Search</button>
    </form>
    <ul class="navbar-nav" id="menu" *ngIf="username">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user">{{username}}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/order">Orders</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn" (click)="logout()">Logout</a>
      </li>
    </ul>
    <ul class="navbar-nav" id="log" *ngIf="!username">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Sign in / </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
